{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
  <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-2" src="/static/img/Okta_Logo_White_Medium.png" alt="" />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Authentication App Demo</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">This webapp has been designed as a part of a technical exercise for Okta by the Anushrav using Flask, Bootstrap, CSS and HTML.</p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">Please refer to link below for all the source code and documentaiton.</p></div>
                </div>
                <!-- About Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="https://github.com/anushrav/okta_dev_challenge">
                        <i class="fas fa-download mr-2"></i>
                        GitHub   
                    </a>
                </div>
            </div>
        </section>
{% endblock %}